*
{
    margin: 0; padding: 0;
}

li
{
    padding: 0;
}
ul li, ul li a
{
    display: inline-block;
}
ul
{
    background-color: rgb(93, 93, 231);
    text-align: right;
    
    padding-right: 20px;
}

ul li a
{
    padding: 5px 10px;
    font-size: xx-large;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    
}
ul li a:hover
{
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.75);
}

.active
{
    background-color: rgb(255, 255, 255);
    color: rgb(93, 93, 231);

}